{% extends 'partials/_master.twig' %}

{% block main %}

    {# banner ----------------------------------------------------------- #}
    <div>
        <img src="{{ asset('img/banner_2.jpg') }}"
             class="w-full" alt="Yoshi Kan, judoschool voor jong en oud."
             border="0"/>
    </div>



{% endblock main %}
