/*
 * This file is part of the Yoshi-Kan software.
 *
 * (c) Koen Caerels
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

/* some style fixes for the general layout */

body {
    overflow: hidden;
}

.toolbar-item__brand {
    display: none !important;
}

.admin__header--title {
    display: none !important;
}

.admin__body--container {
    padding: 0 !important;
}

.admin__header--topbar {
    padding: 0 !important;
}

/* -- color picker fix -- */

input[readonly] {
    cursor: pointer !important;
    pointer-events: auto !important;
}

/* -- drag and drop ghost -- */

.ghost::after {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    content: '';
    outline: none;
    border-radius: 15px;
}

/* -- tab fix */

.p-menuitem-link:focus {
    box-shadow: 0 0 0 0 !important;
}

th {
    text-align: left !important;
}

label {
    display: inline !important;
    margin-bottom:0px !important;
    font-weight:normal !important;
}

/* -- toaster fix */

.p-toast-message-content {
    padding: 5px !important;
    margin: 0 !important;
    font-size: .9em;
    border-width: 0 !important;
}

.p-toast-message-icon {
    margin-left: 5px;
}

.p-toast-message-text {
    padding-top: 6px !important;
}

.p-toast-bottom-right {
    bottom: 30px !important;
}

/* -- configuration wrapper */

.configurationWrapper {
    display: block;
    max-width: 750px;
}

/* -- dropzone fixes */

.dropzone .dz-message {
    margin: 2em 0 !important;
    margin-left:10px !important;
}

.dropzone .dz-preview {
    min-height:70px !important;
}
.dropzone .dz-preview .dz-image {
    width: 70px !important;
    height:70px !important;
}

/* -- grid styles */

.grid {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -ms-flex-wrap:wrap;
    flex-wrap:wrap;
}
.grid>.col,
.grid>[class*=col] {
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.grid-nogutter {
    margin-right:0;
    margin-left:0;
    margin-top:0
}
.grid-nogutter>.col,
.grid-nogutter>[class*=col-] {
    padding:0
}

.p-tabview .p-tabview-panels {
    padding:0 !important;
}

.p-tabview-nav-link:focus {
    box-shadow: 0 0 0 0 !important;
}
