<!-- Header navigation -->
<header>
    <div class="header-wrapper">
        <div id="top-navigation">
            <nav>
                <a id="resp-menu" class="responsive-menu" href="#"><i class="fa fa-reorder"></i> Menu</a>
                <ul class="menu">
                    {# home button ---------------------------------------------------------------- #}
                    <li><a class="home" href="/" data-cy="header_home"><i class="mdi mdi-home"></i> Yoshi-Kan</a></li>
                    {# top menu ------------------------------------------------------------------- #}
                    {{ menu(name = 'top', template='partials/_menu_header.twig', withsubmenus= true) }}
                </ul>
            </nav>
        </div>
    </div>
</header>
