{#/*#}
{#* This file is part of the Yoshi-Kan software.#}
{#*#}
{#* (c) Koen Caerels#}
{#*#}
{#* For the full copyright and license information, please view the LICENSE#}
{#* file that was distributed with this source code.#}
{#*/#}

{% extends '@bolt/_base/layout.html.twig' %}

{% block title %}{% endblock %}

{% block main %}
    {{ vite_build_script_tags('mm_module','src/main.ts') }}
    {{ vite_build_style_tags('mm_module','src/main.ts') }}
    <div id="mm_module">Loading...</div>
{% endblock %}
